{
  "plugins": ["prettier-plugin-tailwindcss", "prettier-plugin-classnames"],
  "tailwindStylesheet": "./app/assets/css/main.css",
  "singleQuote": true,
  "semi": false,
  "jsxSingleQuote": false,
  "bracketSpacing": true,
  "trailingComma": "all",
  "printWidth": 80,
  "tabWidth": 2,
  "arrowParens": "avoid",
  "endOfLine": "lf",
  "htmlWhitespaceSensitivity": "ignore",
  "vueIndentScriptAndStyle": true
}
