:root {
  --base-layer: url(/base-layer_mobile.webp);
  --middle-layer: url(/middle-layer_mobile.webp);
  --front-layer: url(/front-layer_mobile.webp);
  --water-layer: url(/water_mobile.webp);
  --preloader: url(/preloader.webp);
  --main-color: rgb(126, 126, 126);
}

.dark {
  --base-layer: url(/dark_base-layer_mobile.webp);
  --middle-layer: url(/dark_middle-layer_mobile.webp);
  --front-layer: url(/dark_front-layer_mobile.webp);
  --water-layer: url(/dark_water_mobile.webp);
  --preloader: url(/dark_preloader.webp);
  --main-color: rgb(0, 0, 0);
}

@media (min-width: 768px) {
  :root {
    --base-layer: url(/base-layer.webp);
    --middle-layer: url(/middle-layer.webp);
    --front-layer: url(/front-layer.webp);
    --water-layer: url(/water.webp);
    --preloader: url(/preloader.webp);
  }

  .dark {
    --base-layer: url(/dark_base-layer.webp);
    --middle-layer: url(/dark_middle-layer.webp);
    --front-layer: url(/dark_front-layer.webp);
    --water-layer: url(/dark_water.webp);
    --preloader: url(/dark_preloader.webp);
  }
}

@import 'tailwindcss';
@import '@nuxt/ui';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: 'Montserrat';
}

@utility container {
  padding-inline: 0.75rem;
  margin-inline: auto;

  @variant sm {
    padding-inline: 2rem;
  }
}

:root {
  --index: calc(1vw + 1vh);
  --transition: transform 0.55s cubic-bezier(0.2, 0.4, 0.8, 1);
  --transition-header-title: transform 0.65s cubic-bezier(0.1, 0.4, 0.75, 0.9);
  --gap: 1rem;
  --logo-color: rgb(61, 61, 61);
  --background-color: rgb(255, 255, 255);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Montserrat, sans-serif;
  line-height: 1.55;
}

li {
  list-style-type: none;
}
