@import 'tailwindcss';
@import '@nuxt/ui';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: 'Open Sans';
}

@utility container {
  padding-inline: 0.75rem;
  margin-inline: auto;

  @variant sm {
    padding-inline: 2rem;
  }
}

:root {
  --index: calc(1vw + 1vh);
  --transition: transform 0.55s cubic-bezier(0.075, 0.5, 0, 1);
  --transition-header-title: transform 0.65s cubic-bezier(0.1, 0.4, 0.75, 0.9);
  --gap: 1rem;
  --logo-color: rgb(61, 61, 61);
}

@font-face {
  font-family: raleway_f;
  src: url(/fonts/raleway-black.woff2);
}

@font-face {
  font-family: raleway_f;
  src: url(/fonts/raleway-regular.woff2);
  font-weight: 900;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: railway_f, sans-serif;
  line-height: 1.55;
}

li {
  list-style-type: none;
}
